<p><%= t('devise.welcome') %> <%= @resource.email %>!</p>
<p><%= t('devise.request_change_password') %></p>
<p><%= link_to t('devise.change_btn'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>
<p><%= t('devise.message_ignore') %></p>
